body {
    margin: 0;
}

.slide-container {
    position: relative;
    width: 100%;
    top: 100px;
}

.slides img{
    width: 100%;
    height: 500px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: rgba(255, 255, 255, 0.719);
    padding: 8px 16px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}

.next {
    right: 15px;
}

.prev {
    left: 15px;
}

.caption {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
}

.slides {
    display: none;
}

.index {
    font-size: 25px;
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.178);
}




/* 
* {box-sizing:border-box}


.slider {
    position: relative;
    margin: auto;
    max-width: 1000px;
}



.back, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}


.caption
{
    color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.img {
    height: 600px;
    padding-top: 100px;
}

.index {
    color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }

 .circle
 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 } */
