.pagination {
    display: inline-block;
}
.pagination a {
    font-weight:bold;
    font-size:40px;
    color: rgb(30, 130, 177);
    float: none;
    padding: 8px 16px;
    text-decoration: none;
}

.records, h1 {
    font-size:34px;
    font-weight:bold;
    margin-left:140px;
    margin-top: 150px;
    margin-left: 200px;
}

#search {
    font-size: 25px;
    border: 2px solid rgb(30, 130, 177);
    background-image: url('search-icon.png') ;
    background-repeat: no-repeat;
    background-position: 10px 12pxsss;
    padding: 12px 20px 12px 40px;
    
    
}
a:hover {
    color: rgb(32, 30, 177);
}

