.container{
    max-width: 650px;
    background-color: red;
    margin: auto;
    height: 60vh;
}

.message {
    background-color: gray;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;

}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(109, 39, 239));
}