* {
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  .header {
    
    width: 100%;
    height: 100vh;
    background-color: gray;
    background-size: cover;
    background-position: center;
  }
  

.navbar{
    width: 100%;
    font-size: 30px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
}

.text-box {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.text-box h1 {
    font-size: 70px;
    margin-top: 80px;
}

.text-box p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 25px;
}


.text-box input {
    font-family: cursive;
    text-align: center;
    display: inline-block;
    width: 508px;
    padding: 1px;
    height: 70px;
    margin: 11px auto;
    font-size: 25px;
    color: #808080;
    border-radius: 8px;

}

.btn {
    background-color: lightseagreen;
    color: #fff;
    font-family: cursive;
    text-align: center;
    display: inline-block;
    width: 508px;
    padding: 1px;
    height: 70px;
    margin: 11px auto;
    font-size: 25px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
  }

  .works  {
    margin-top: 20%;

      text-align: center;
      font-size: 25px;
  }

  

  .row1 {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
  }
  
  
  .feedback {
      padding-top: 125px;
      padding-bottom: 100px;
      background-color: lightgray;
      margin-top: 20%;
    text-align: center;
    font-size: 25px;
}

.names {
  display: flex;
  justify-content: space-evenly;
}

.box {
    background-color: white;
    border: 5px solid lightseagreen;
    padding: 40px 40px;
    
    margin: 20px 50px;
}

.arrow_box {

 position: relative;
 height: 300px;
  border: 5px solid lightseagreen;
  margin: 100px auto;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 20px;
  box-sizing: border-box;

	
}

.arrow_box:after {
  
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 0px solid lightseagreen;
    border-right: 5px solid lightseagreen;
    border-bottom: 5px solid lightseagreen;
    border-left: 0px solid lightseagreen;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-top: -25px;
    background-color: white;
  
}



.check-service {
    padding: 40px;
    margin-top: 20%;

      text-align: center;
      font-size: 25px;
      background-color: lightseagreen;
      width: 100%;
      color: white;

}

.pictures div{
  position: relative;
    
    width: 50%;
    height: 50%;
    
    float: left;
    
  }

  .living {
    text-align: center;
  }

  .livingroom {

   padding-left: -125px;
   padding-top: 75px;
   padding-bottom: 75px;
  text-align: left;
  font-size: 25px;
  }
  
  .kitchen {
    text-align: center;
  }

  .kitchenroom {

transform: translateX(20%);
  text-align: left;
  font-size: 25px;
  }
  .text-box2 input {
    font-family: cursive;
    text-align: center;
    
    width: 408px;
    padding: 10px;
    height: 40px;
    margin: 11px auto;
    font-size: 20px;
    
    

}

.btn2 {
  background-color: lightseagreen;
  color: #fff;
  font-family: cursive;
  text-align: center;
  display: inline-block;
  width: 508px;
  padding: 1px;
  height: 70px;
  margin: 11px auto;
  font-size: 25px;
}


.lastcol {
  margin-top: 800px;
  margin-bottom: 20px;
  background-color: rgb(199, 209, 216);

}

  

  .text-box2 {
    transform: translateY(-50%);

    
      padding-top: 450px;
      
      text-align: center;
      font-size: 25px;
      
      width: 100%;
      color: black;

  }
  .pagefooter {
    padding-top: 80px;
    display:flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding-bottom: 40px;
    background-color: cadetblue;
  }
 
  footer {
    position: relative;
    height: 300px;
    width: 100%;
    
}

p.copyright {
    position: absolute;
    width: 100%;
    color: black;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    bottom:10px;
}

.subscribe input {
  
  font-family: cursive;
    text-align: center;
    
    width: 175px;
    padding: 10px;
    height: 15px;
    margin: 11px auto;
    font-size: 15px;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}



 